<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "popcorn.png", alt: "popcorn", width: 200 %>
    </a>
    <div>
      <%= link_to "My lists", lists_path, style: "text-decoration:none; color: grey;" %>
      <%= link_to "New list", new_list_path, style: "text-decoration:none; color: grey;" %>
    </div>
  </div>
</div>
